<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.DailySettlementMapper">

    <resultMap id="BaseResultMap" type="com.shopping.entity.DailySettlement">
        <id column="id" property="settlementId"/>
        <result column="settlement_no" property="settlementNo"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="settlement_date" property="settlementDate"/>
        <result column="sold_amount" property="soldAmount"/>
        <result column="merchant_net_income" property="merchantNetIncome"/>
        <result column="is_matched" property="isMatched"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

</mapper>